body {
    background-color: rgb(232, 232, 232);
}


.container .all_container {
    background-color: white;
    border: 1px solid rgb(208, 208, 208);
    margin: 3px;
    border-radius: 4px;
    max-width: 100%;
    height: 500px;
    
}


.container .all_container img {
    width: 13px;
    height: 13px;
}


.container .all_container .table_header {
    display: flex;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(31, 31,31);
    font-size: 1.125rem;
    justify-content: space-between;
    padding: 0 11px 0 11px;
    min-height: 25px;
    align-items: center;
}

.container .all_container .table_header img {
    padding-right: 5px;
}

.container .all_container .table {
    height: 470px;
    overflow: auto;
    margin-right: 12px;
}


.container .all_container .table .table_all {
    display: table;
    width: 100%;
    padding: 0 0 0 7px;
}


.container .all_container .table .table_all .thead {
    display: table;
    background-color: rgb(230, 230, 230);
    width: 100%;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thead img {
    margin-left: 15px;
}


.thead .timespamp {
    font-weight: 100;
    width: 43%;
    text-align: left;
}

.thead .facility {
    font-weight: 100;
    width: 18%;
    text-align: left;
}

.thead .level {
    font-weight: 100;
    width: 18%;
    text-align: left;
}

.thead .program {
    font-weight: 100;
    width: 21%;
    text-align: left;
}

.container .all_container .table .table_all .tbody {
    display: table;
    width: 100%;
}

.tbody .tbody_timespamp_1 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_1 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_1 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_1 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_1 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_2 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_2 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_2 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_2 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_2 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_3 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_3 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_3 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_3 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_3 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_4 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_4 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_4 {
    width: 18%;;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_4 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_4 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_5 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_5 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_5 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_5 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_5 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_6 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_6 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_6 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_6 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_6 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_7 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_7 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_7 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_7 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_7 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_8 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_8 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_8 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_8 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_8 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_9 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_9 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_9 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_9 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_9 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_10 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_10 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_10 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_10 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_10 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_11 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_11 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_11 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_11 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_11 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_12 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_12 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_12 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_12 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_12 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_13 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_13 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_13 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_13 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_13 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_14 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_14 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_14 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_14 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_14 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tbody .tbody_timespamp_15 {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.tbody .tbody_facility_15 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_level_15 {
    width: 18%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_program_15 {
    width: 21%;
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tbody .tbody_all_list_15 {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}