body {
    background-color: rgb(232, 232, 232);
    
    font-family: 'Roboto', sans-serif;
    
}

.container {
    color: rgb(31, 31, 31);
}

.container .widget {
    background-color: white;
    border: 1px solid rgb(208, 208, 208);
    margin: 3px;
    border-radius: 4px;
    max-width: 100%;
    height: 500px;
    
}

.widget__header svg {
    width: 14px;
    height: 14px;
    align-content: center;
}

.container .widget .widget__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px 0 3px;
    min-height: 25px;
    fill: rgb(128, 128, 128);
}

.widget__header path {
    fill: rgb(128, 128, 128);
}

.widget__header .header__left {
    display: flex;
    align-content:center;
    align-items: center;
}

.widget_header .header__left .header__text {
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(31, 31,31);
    font-size: 1.125rem;
    align-items: center;
    margin-left: 5px;
}

.widget__header .header__right {
    display: flex;
}

.widget__header .header__icon_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
}

.widget__header .header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    margin-right: 5px;
}

.widget__header .header__icon:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);
}

.widget__header .header__icon_menu:hover{
    cursor: move;
    background-color: rgb(215, 215, 215);
}

.container .widget .widget__table {
    height: 470px;
    overflow: auto;
    margin-right: 12px;
    margin-left: 9px;
}

.container .widget .widget__table .table__all {
    display: table;
    border-collapse: collapse;
    width: 100%;
    padding: 0 0 0 7px;
}

.container .widget .widget__table .table__all .table__thead {
    background-color: rgb(230, 230, 230);
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.container .widget .widget__table .table__all .table__thead span {
    margin-right: 15px;
}

.container .widget .widget__table svg{
    width: 12px;
    height: 12px;
}

.container .widget .widget__table path {
    fill: rgb(128, 128, 128);
}

.table__thead .table__thead_name div {
    font-weight: 100;
    text-align: left;
}

.table__thead .table__thead_name div:hover{
    cursor: pointer;
}

.table__thead .table__thead_name th {
    text-align: left;
}

.table__thead .table__thead_name_timespamp div {
    font-weight: 400;
    text-align: left;
    padding-left: 5px;
}

.container .widget .widget__table .table__thead .table__thead_name_timespamp path {
    fill: black;
}

.widget__table .table__tbody .table__tbody_list {
    text-align: left;
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 5px;
}

.table__tbody_list_event {
    width: 43%;
    text-align: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.widget__table .table__tbody .table__tbody_list_keys {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(0, 87, 168);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.widget__table .table__tbody .table__tbody_row {
    border-left: solid 5px rgb(0, 87, 168);
}


.widget__table .table__tbody .table__windows_object {
    min-height: 400px;
    margin-right: 5px;
    border-bottom: 1px solid rgb(128, 128, 128)
}

.table__windows_object .table__windows_head {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    min-height: 30px;
    margin-left: 5px;
}

.table__windows_head .table__windows_indification_code {
    display: flex;
}

.table__windows_head .table__windows_indification_code .table__windows_indification_code_img {
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.widget__table .table__tbody .table__windows_object .table__windows_head .table__windows_indification_code .table__windows_indification_code_img svg {
    width: 19px;
    height: 19px;
}
.widget__table .table__tbody .table__windows_object .table__windows_head .table__windows_indification_code .table__windows_indification_code_img path {
    fill: black;
    width: 19px;
    height: 19px;
    justify-content: center;
    align-items: center;
}

.table__windows_indification_code .table__windows_indification_code_text {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(31, 31,31);
    font-size: 1.2rem;
    align-items: center;
    margin-left: 5px;
    justify-content: center;
    font-weight: 500;

}

.table__windows_head .table__windows_botton {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table__windows_botton svg {
    justify-content: center;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.table__windows_botton path {
    fill:rgb(76, 76, 76);
}

.table__windows_btn {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(100, 100, 100);
    background-color: rgb(232, 232, 232);
    border: solid 1px rgb(195, 195, 195);
} 

.table__windows_btn:hover {
    cursor: pointer;
}

.table__windows_btn:active {
    background-color: rgb(185, 185, 185);
}

.table__windows_btn_permalink {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.table__windows_btn_stream {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.table__windows_btn_copyID {
    border-radius: 3px;
}

.table__windows_object .table__windows_body {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}

.table__windows_body .table__windows_body_sidebar {
    width: 30%;
}

.table__windows_body .table__windows_body_title {
    font-size: 0.889rem;
    color: black;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
}

.table__windows_body_sidebar .table__windows_body_sidebar_data {
    font-size: 0.889rem;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.table__windows_body_sidebar .table__windows_body_sidebar_received {
    font-style: italic;
}

.table__windows_body_sidebar .table__windows_body_sidebar_data a {
    text-decoration: none;
}

.table__windows_body_sidebar_data .table__windows_body_sidebar_link:before {
    content: ""; 
    display: inline-block; 
    width: 5px; 
    height: 5px; 
    margin-right: 10px;
    margin-left: 10px; 
    border-radius: 50%; 
    background-color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.table__windows_body_information .table__windows_body_title {
    color: rgb(100, 100, 100);
    padding-top: 5px;
}

.table__windows_body_information .table__windows_body_information_data {
    font-size: 0.889rem;
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);
    padding-bottom: 5px;
}

.table__windows_body_information .table__windows_body_information_data:last-child {
    border: none;
}
